#field-cardExpiryMonth, #field-cardExpiryYear {
    clear: both;
    padding: 6px 7px;
    background: #FFFFFF;
    border-color: #B0B0B0 #B0B0B0 #C0C0C0 #C0C0C0;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 100%;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.025) inset;
    -webkit-box-shadow: 0 5px 5px rgb(0 0 0 / 3%) inset;
    box-shadow: 0 5px 5px rgb(0 0 0 / 3%) inset;
    height: 40px !important;
    font-size: 16px !important;
}

#field-cardNumber, #field-cardCVV {
    clear: both;
    padding: 6px 7px;
    background: #FFFFFF;
    border-color: #B0B0B0;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 100%;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.025) inset;
    -webkit-box-shadow: 0 5px 5px rgb(0 0 0 / 3%) inset;
    box-shadow: 0 5px 5px rgb(0 0 0 / 3%) inset;
    height: 40px !important;
    font-size: 16px !important;
}